{% extends 'layout.html' %}
{% block head %}
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1 class="app-title"><span class="uci-blue">antbutter</span></h1>
        <a href="http://www.reg.uci.edu/images/anteaters/" target="_blank">
            <img src="http://i.imgur.com/qXx7AbT.gif" class="anteater">
        </a>
        <div class="app-about">
            Instant search for anteaters
        </div>
        <div class="clearer"><!-- --></div>
    </div>
    <form ng-controller="SearchController">
        <div class="input-group">
            <div class="input-group-btn">
                <div class="quarter-selection">
                    <button type="button" ng-model="currentQuarter" class="btn btn-default dropdown-toggle" data-toggle="dropdown">[[currentQuarter().fullName]]&nbsp;&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="quarter in quarters">
                        <a href="#" ng-click="changeQuarter(quarter)">[[quarter.fullName]]</a>
                        </li>
                    </ul>
                </div>
                <div class="query">
                    <input type="text" ng-model="query" ng-change="search(query)" name="query" class="form-control query" placeholder="Look up a department, course, course code, or instructor"></input>
                </div>
            </div><!-- /btn-group -->
        </div>
        <results>
        </results>
    </form>
</div>
{% endblock %}
